
@{
    ViewBag.Title = "Footer";
}

<body>

    <footer>
        <div>
            <span class="foot-clock">00:00</span>
            <span class="foot-timer">00:00</span>
        </div>

    </footer>

    <script>
        var intervalID = null;

        //$(function () {
        function startTimer(startMin, startSec, finished) {
            if (intervalID != null) {
                //TODO:: kanske lägga till ett error!
                return;
            }
                $(".foot-timer").css("visibility", "visible")

                function StopWatch(startMin, startSec) {
                    this.seconds = startSec;
                    this.minutes = startMin;

                    this.tick = function () {
                        this.seconds--;
                        if (this.seconds <= 0) {

                            this.minutes--;
                            if (this.minutes < 0) {
                                this.minutes = 0;
                                return true;
                            }
                            this.seconds = 59;
                        };
                    };
                };

                var tmpWatch = new StopWatch(startMin, startSec);

                tick();
                IntervalID = setInterval(tick, 1000);

                function tick() {
                    var isOver = tmpWatch.tick();

                    if (isOver) {
                        clearInterval(IntervalID);
                        finished();
                    }

                    $(".foot-timer").text(tmpWatch.minutes + ":" + tmpWatch.seconds);
                }
            }

            function stopTimer() {
                clearInterval(IntervalID);
                $(".foor-timer").css("visibility", "hidden");
                intervalID = null;
            }
        //});

    </script>

    <script>
        myTimer();
        var myVar = setInterval(myTimer, 1000);

        function myTimer() {
            var d = new Date();
            $(".foot-clock").html(d.toLocaleTimeString());
        }
    </script>
</body>

