<header class="mainHeader">

    <p class="header-link right-header-link">@Html.ActionLink("Om", "About", "Home")</p>
    @*<a class="header-link right-header-link" href="#">Profil</a>*@
    <p class="header-link right-header-link">@Html.ActionLink("Logga ut", "Index", "Home")</p>
    <p class="header-link left-header-link">@Html.ActionLink("Testportalen", "Portal", "Home")</p>
</header>