<header class="mainHeader">

    <a class="header-link right-header-link" href="#">Om</a>
    @*<a class="header-link right-header-link" href="#">Profil</a>*@
    <a class="header-link right-header-link" href="Index">Logga ut</a>

    <a class="header-link left-header-link" href="Portal">Frågelådan</a>
</header>