
@{
    //ViewBag.Title = "AddQuiz";
}
<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/Content/Site.css">
    <link rel="stylesheet" href="~/Content/AddQuiz.css">
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.AddQuiz.js"></script>
    <script src="~/Scripts/angular.AddQuiz.js"></script>
    <link rel="stylesheet" href="~/Content/unsemantic-grid-responsive-tablet.css">

</head>

<body>
@RenderPage("../Shared/Header.cshtml")
    <div id="backButton">
        <p class="regBackButton">@Html.ActionLink("Tillbaka", "AdminHome", "Home")</p>
    </div>
    <section id="shrink">
    <div class="grid-container">

        <section class="grid-parent grid-100" ng-controller="myController">

        <div class="grid-5"><br/>
        </div>
            <article class="quizPage grid-70 grid-parent">

            <div class="grid-5"><br/>
            </div>

                <article class="questionPage grid-90">
                    <header class="quizHeader">
                        <form>
                        <label class="tittelRubrik">Titel</label>
                        <input required="required" class="tittel" type="text" placeholder="Ge testet ett lämpligt namn:" ng-model="Quiz.Title" id="quizTitle"/>
                        
                        <section class="grid-100 grid-parent">                          
                            <label class="grid-20 dateLabel">startdatum</label>
                            <div class="grid-10"><br/>
                            </div>
                            <label class="grid-20 dateLabel">slutdatum</label>
                            <div class="grid-10"><br/>
                            </div>
                            <label class="grid-20 timeLabel">tidsbegränsning (minuter)</label>
                        </section>
                         <section>
                             <input required="required" ng-model="DateAndTime.firstDate" class="grid-25 pickDate" id="startDate" type="date" />
                             <div class="grid-5"><br /></div>
                             <input required="required" ng-model="DateAndTime.lastDate" class="grid-25 pickDate" id="lastDate" type="date" />
                             <div class="grid-5"><br /></div>
                             <input required="required" ng-model="DateAndTime.time" class="grid-25 pickminits" min="10" max="180" id="minits" type="number" />
                        </section>
                            <label>visa svar efter avslutat test</label>
                            <input type="checkbox" id="showAnswersCheckbox" />
                            <input type="submit" value="fortsätt" class="continueButton"/>                                                                 
                       </form>
                    </header>
                    <form class="testPage">
                        <label class="nameForTest">{{Quiz.Title}}</label>
                        <div class="horizontalLine"></div> 
                        <label class="questionLabel">Fråga</label>
                        <textarea class="question" placeholder="Skriv in din fråga här..." ng-model="Answers.q"></textarea>

                    <label class="radioRubrik">Markera rätt svarsalternativ<br/></label>
                        <span>
                            <input class="0 svarsAlternativ queAnswer" type="text" placeholder="Skriv in ett svar här..." ng-model="Answers.a0" />
                            <input class="radio 0" type="radio" name="rättSvar" ng-model="RightAnswer" ng-value="0" />
                        </span>

                        <span>
                            <input class="1 svarsAlternativ queAnswer" type="text" placeholder="Skriv in ett svar här..." ng-model="Answers.a1" />
                            <input class="radio 1" type="radio" name="rättSvar" ng-model="RightAnswer" ng-value="1" />
                        </span>

                        <span>
                            <input class="2 svarsAlternativ queAnswer" type="text" placeholder="Skriv in ett svar här..." ng-model="Answers.a2" />
                            <input class="radio 2" type="radio" ng-model="RightAnswers" ng-value="2" name="rättSvar" />
                        </span>


                    <input id="addQuestion" type="button" value="+"/>
                    <br/>
                        <input id="addQuestionBtn" class="quizButton" type="button" value="Lägg till fråga" ng-click="AddQuestion()">
                    </form>
                </article>
            <div class="grid-5"><br/>
            </div>
            </article>

        <div class="grid-5"><br/>
        </div>

            <aside>  
                <div class="grid-20 färdigaSvar">
                <label class="frågSida">Frågor</label>
                <ul class="listaMedFrågor">
                    <li ng-repeat="item in question">
                        <span>
                        <label class="fråga">{{item}}
                        </label>
                        <input type="button" value="X" id="removeQuestion" ng-click="RemoveQuestion(item)"/>
                    </span>
                   </li>
                </ul>
            <input id="saveQuizBtn" class="slutför" type="button" value="Slutför" ng-click="SendQuizData()"/>

                </div>          
            </aside>

        </section>


    </div>
        </section>
</body>
    @RenderPage("../Shared/Footer.cshtml")
</html>
