@using TheGreatQuiz.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/unsemantic-grid-responsive-tablet.css">
</head>
<body class="loginBody">
    <header class="mainHeader"></header>

    <div class="grid-container">

        <section class="grid-100 grid-parent">
            <div class="loginWindow grid-60 prefix-20">
                <h1>Välkommen @Session["userId"]</h1><br/>
                <p>Detta är sidan för admins här kan man välja att lägga till quizzes eller redigera dem.</p><br/>

                <a class="btn" href="/Home/AddQuiz">Skapa ett test</a>
            </div>

        </section>

    </div>


</body>
</html>