@using TheGreatQuiz.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/unsemantic-grid-responsive-tablet.css">
</head>
<body class="loginBody">
@RenderPage("../Shared/Header.cshtml")


<div class="grid-container">

    <section class="grid-100 grid-parent">
        <div class="loginWindow grid-60 prefix-20 tablet-grid-90 tablet-prefix-5">
            <h1>Välkommen</h1><br/>
            <p>Detta är administratörsidan för lärare. <br/>
                Här kan man man skapa test till lyckligt ovetande studenter, samt pröva att göra skapade test och se resultat på utförda test.
            </p><br/>

            <a class="btn" href="/Home/AddQuiz">Skapa test</a>
            <a class="btn" href="/Home/Portal">Utför test</a>
            <a class="btn" href="/Home/ResultPage">Se resultat</a>
        </div>

    </section>

</div>

    @RenderPage("../Shared/Footer.cshtml")
</body>
</html>