@using System.Activities.Expressions
@using System.Web.Mvc.Html
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/Login.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="~/Content/unsemantic-grid-responsive-tablet.css">
</head>
<body class="loginBody">
    <header class="mainHeader"></header>

    <div class="grid-container">

        <section class="grid-100 grid-parent">
            <div class="loginWindow grid-60 prefix-20">
                @using (Html.BeginForm())
                {
                    <h1>Newton</h1>
                    <h3>Email</h3>
                    <div id="loginEmail" class="inputBox">@Html.TextBox("email")</div>
                    <h3>Lösenord</h3>
                    <div id="loginPassword" class="inputBox">@Html.Password("password")</div><br>
                    <div id="submitbtn">
                    <input type="submit" value="Logga in" class="logRegButton" />
                    <p class="logRegButton">@Html.ActionLink("Registrera", "Register", "Home")</p>                        
                    </div>
                }

            </div>

        </section>

    </div>

    @RenderPage("../Shared/Footer.cshtml")
</body>
</html>