@model TheGreatQuiz.Models.QuizzesView
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/unsemantic-grid-responsive-tablet.css">
    <link href="~/Content/Portal.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>

<body>
    @RenderPage("../Shared/Header.cshtml")

    <section id="active-tests" class="grid-container">
        <h2>Aktiva Test</h2><br/>
        @foreach (var quiz in Model.ActiveQuizzes)
        {
            @Html.ActionLink(quiz.Name, "/QuizPage", new { Id = quiz.Id }, new { @class = "test-link" })<br/>
        }

    </section>

    <section id="finished-tests" class="grid-container">
        <h2>Inaktiva Test</h2>
        @foreach (var quiz in Model.FinishedQuizzes)
        {
            <p>@quiz.Name</p>
        }
    </section>

    @RenderPage("../Shared/Footer.cshtml")
</body>

</html>