@model TheGreatQuiz.Models.QuizzesView

@{
    ViewBag.Title = "Quizzes";
}

<h2>Quizzes</h2>

@foreach (var model in Model.QuizzesList)
{
   @Html.ActionLink(model.Name, "/angularTestPage", new { Id = model.Id }) <br />
   <p>hej</p>
}

