@model TheGreatQuiz.Models.QuizzesView

@{
    ViewBag.Title = "Quizzes";
}

<h2>Quizzes</h2>

@foreach (var model in model.quizzeslist)
{
   @html.actionlink(model.name, "/angulartestpage", new { id = model.id }) <br />
}

