@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form>
            <input type="radio" name="answer1" value="male" checked> Male<br>
            <input type="radio" name="answer2" value="female"> Female<br>
            <input type="radio" name="answer3" value="other"> Other
        </form> 
    </div>
</body>
</html>
