@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link href="~/Content/QuizPage.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/unsemantic-grid-responsive-tablet.css">
</head>
<body>
    <div class="grid-container">
        <section class="grid-100 grid-parent">
            <div class="quizWindow grid-40 prefix-30 tablet-grid-90 tablet-prefix-5">
                <h1>Fråga 1</h1><br/>
                <p>Vad är det för kön på en ekorre?</p><br/>
                <form class="loginForm">
                    <input class="questionRadio" type="radio" name="answer1" value="male"> Male<br>
                    <input class="questionRadio" type="radio" name="answer2" value="female"> Female<br>
                    <input class="questionRadio" type="radio" name="answer3" value="other"> Other
                </form>
                <a id="lastQuiz" href="#"><</a>
                <a id="nextQuiz" href="#">></a>
            </div>
        </section>

    </div>
</body>
</html>
