@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/unsemantic-grid-responsive-tablet.css">
</head>

<body class="loginBody">

    <header class="mainHeader"></header>
        
    <p class="regBackButton">@Html.ActionLink("Back", "Index", "Home")</p>


    <div class="grid-container">
        <section class="grid-100 grid-parent">
            <div class="registerWindow grid-60 prefix-20">
                <h1>Newton</h1>
                <form class="loginForm">
                    <input type="text" id="registerEmail" class="inputBox registerBox" placeholder="Email" maxlength="50" /><br />
                    <p id="emailErrorDisplay" class="errorText">holder</p>
                    <input type="password" id="registerPassword" class="inputBox registerBox" placeholder="Password" maxlength="50" /><br />
                    <input type="password" id="registerSecondPassword" class="inputBox registerBox" placeholder="Repeat password" maxlength="50" /><br />
                    <p id="passwordErrorDisplay" class="errorText">holder</p>
                    <input type="button" id="completRegistration" class="logRegButton completRegistrationButton" value="Register" />
                </form>
            </div>
        </section>

    </div>


   
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="~/Scripts/registerValidation.js"></script>
</body>
</html>