
@{
    ViewBag.Title = "TestHeader";
}

<html lang="sv">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/unsemantic-grid-responsive-tablet.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>

    <body>
        @RenderPage("../Shared/Header.cshtml")

        @RenderPage("../Shared/Footer.cshtml")
    </body>

</html>



