@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/Test.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/unsemantic-grid-responsive-tablet.css" />
</head>
<body>
    <header class="mainHeader"></header>

    <div class="grid-container grid-90 prefix-5">
        <section class="testWindow grid-50">
            <nav class="testHeader">
                <ul>
                    <li class="differentTests">
                        <div class="grid-60 testButton"></div>
                    </li>
                    <li class="differentTests">
                        <button class="grid-20 testButton">Aktuella</button>
                    </li>
                    <li class="differentTests">
                        <button class="grid-20 testButton">Färdiga</button>
                    </li>
                </ul>
            </nav>

            <a class="grid-100 Link" href="">Matematik A</a>
            <a class="grid-100 Link" href="">blablabla</a>
            <a class="grid-100 Link" href="">blablabla</a>
        </section>

    </div>

</body>
</html>


