@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/Test.css" />
    <link rel="stylesheet" href="~/Content/unsemantic-grid-responsive-tablet.css" />
</head>
<body>
    @RenderPage("../Shared/Header.cshtml")
    <div class="grid-container grid-90 prefix-5">


        <section class="testWindow grid-40 grid-parent">
            
            <nav class="testHeader">
              <div class="grid-60"><br /></div>                        
              <button class="grid-20 testButton">Aktuella</button>                                         
              <button class="grid-20 testButton">Färdiga</button>                  
            </nav>
            <artile class="grid-100">
                <ul>
                    <li class="Tests">
                        <a class="grid-100 Link" href="">Matematik A</a>            
                    </li>
                    <li class="Tests">
                        <a class="grid-100 Link" href="">blablabla</a>
                    </li>
                </ul>                            
            </artile>
        </section>

    </div>

</body>
</html>


