/*
--Colors--
    grey/green #5E7A77
    orange #D98906
    brown/orange #B86E0C
    grey #546964 background
    lighter orange #FFAD00
*/
*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, sans-serif;
}
body{
    background-color: #546964;
}
input{
    border: 0;
}
.space{
    width: 100%;
    background-color: #546964;
}
.questionPage{
    height: auto;
    width: 100%;
}
.quizHeader{
    padding-top: 10px;
    height: 80px;
    width: 100%;
}
.mainPage{
     margin-left: 5%;
     width: 90%;
     margin-top: 20px;
     border-top: solid 2px;
     border-color: #D98906;
     padding: 5px;
}
.quizHeader{
    height: 160px;
}
.quizPage{ 
    border: solid black 2px;
    margin-top: 40px;
    background-color: #FFAD00;
    border-radius: 40px 40px;
    min-height: 770px;
    max-height: 770px;
}
.färdigaSvar{
    border: solid black 2px;
    margin-top: 40px;
    font-size: 16px;
    padding: 5px;
    overflow: hidden;
    background-color: #FFAD00;
    border-radius: 20px 20px;
    min-height: 770px;
    max-height: 770px;
}
.tittelRubrik{
    letter-spacing: 0.2em;
    margin-top: 15px;
    font-size: 26px;
    width: 30%;
    margin-left: 40%;
    text-align: center;
    margin-bottom: 10px;
}
.tittel{
    margin-top: 15px;
    font-size: 20px;
    padding: 5px;
    height: auto;
    width: 90%;
    margin-left: 5%;
}
.question{
    border: solid 2px;
    border-color: #D98906;
    width: 80%;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 28px;
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 10px 10px;
}
#addQuestion{
    margin-top: 15px;
    font-size: 24px;
    width: 35px;
    height: 35px;
    color: green;
    font-weight: bold;
    border-radius: 35px 35px;
    vertical-align: central;
    margin-left: 10px;
}
.quizButton{
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
    width: auto;
    height: auto;
    background-color: #D98906;
    color: black;
    border-radius: 5px 5px;
    border: solid 1px black;
    width: 40%;
    margin-left: 28%;
    
}
.ettSvarsAlternativTill{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 70%;
    margin-left: 10%;
    font-size: 20px;
    padding: 10px;
    height: auto;
}
.svarsAlternativ{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 70%;
    margin-left: 10%;
    font-size: 20px;
    padding: 10px;
    height: auto;
}
.radio{
    width: 5%;
    margin-right: 5%;
    height: 25px;
    vertical-align: middle;
}
.remove{
    font-size: 24px;
    height: 35px;
    width: 35px;
    color: red;
    font-weight: bold;
    border-radius: 35px 35px;
    vertical-align: central;
    margin-bottom: 10px;
}
.questionLabel{
    font-size: 28px;
    padding: 10px;
    margin-top: 20px;
    width: 10%;
    margin-left: 40%;
    margin-right: 40%;
}

.radioRubrik{
    padding: 5px;
    font-size: 20px;
    float: right;
}
.frågSida{
    font-size: 26px;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 50%;
    margin-left: 25%;
    border-bottom: 2px solid black;
}
.slutför{
    font-size: 20px;
    padding: 10px;
    height: auto;
    width: 50%;
    margin-left: 25%;
    background-color: #D98906;
    color: black;
    border-radius: 5px 5px;
    border: solid 1px black;
}
.listaMedFrågor{
    margin-top: 20px;
    margin-bottom: 10px;
    max-height: 540px;
    min-height: 540px;
}

#removeQuestion{
    width: 20px;
    height: 20px;
    border-radius: 20px 20px;
    color: red;
    font-size: 12px;
}
.fråga{
    width: 90%;
    font-size: 12px;
    overflow: hidden;
    
}
.dateSpan{
    margin-top: 10px;
}
.dateLabel{    
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
}
.timeLabel{
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
}
.pickDate{
    margin-left: 5px;
    font-size: 16px;
    padding: 5px;
    height: 25px;
}
.pickminits{
    margin-left: 5px;
    font-size: 16px;
    padding: 5px;
    height: 25px;
}

   
