/*
--Colors--
	grey/green #5E7A77
	orange #D98906
	brown/orange #B86E0C
	grey #546964 background
	lighter orange #FFAD00
    even lighter orange FFB519
*/
a {
    color: white !important;
    text-decoration: none;
}
#resultShowOrNot {
    display: none;
}
.quizWindow {
    position: relative;
    overflow: hidden;
    height: 400px;
    padding: 15px;
    margin-top: 10%;
    text-align: center;
    background-color: #FFAD00;
    border-style: solid;
    border-radius: 10px;
}

#quizMain h1{ font-size: 25px; padding: 0px; font-weight: 100;margin: 0px;top: 0%;}
#quizMain h2{ font-size: 20px; font-weight: 100;}
#quizMain h3{ font-size: 18px; font-weight: 100;}
/* navigation */

#quizMain .btn {
    display: inline-block;
    cursor: pointer;
    background-color: #B86E0C;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 6px;
    
}
#quizMain .btn.left{float: left;position: absolute;left: 2%;top: 45%;font-size: 30px;background-color:#FFAD00;padding: 0px;}

#quizMain .btn.right{float: right;position: absolute;right: 2%;top: 45%;font-size: 30px;background-color: #FFAD00;padding: 0px; }
img{ height: 40px;}

/* Progress bar */
#quizMain .progress { width: 100%;position: absolute;top:12%;}
#quizMain .progress div {
    position: relative;display: inline-block;width: 20px;height: 10px;margin-right: 0px;
    background-color: black;transition: background-color 1s;
}

#quizMain .progress div.on,
#quizMain .progress div.answered{ background-color: #FFB519;}
#quizMain .progress div.on{ background-color: whitesmoke;}

/* intro page */
#quizMain .intro { position: absolute;top: 30%;left: 660px;width: 100%;}
#quizMain .intro p{ }
/* Question page */
#quizMain .question{ position: absolute;top: 22%;left: 660px; width: 100%}
#quizMain .question .quizText { font-size: 20px;margin: 0px 0px 20px 0px;}
#quizMain .question .answer {
    display: inline-block;font-size: 18px;width: 225px;border: 2px solid;
    border-radius: 6px;padding: 10px;margin: 0px 15px 15px 0px;position: relative;min-height: 0px;

}

#quizMain .question .answer.selected{ border-color: whitesmoke;  }
/*#quizMain .question .answer.correct{ border-color: gold;  }*/

#quizMain .question .answer::after {
    content: '';display: block;width: 20px;height: 20px;
    background: no-repeat 0px 0px;background-size: 20px 20px;
    position: absolute;top: 5px;right: 5px; 
}
/*#quizMain .question .answer.selected::after { background-image:url(https://cdn1.iconfinder.com/data/icons/pointed-edge-web-navigation/101/cross-grey-256.png)}
#quizMain .question .answer.correct::after { background-image:url(https://cdn3.iconfinder.com/data/icons/miniglyphs/500/018-512.png)}*/

#quizMain .question.unanswered .answer { cursor: pointer;}
#quizMain .question.unanswered .answer:hover { background-color: #FFB519;}

#quizMain .question.answered .answer { cursor:default;}

/* Feedback */

#quizMain .feedback { color: black;width: 100% ;top:50%;transition: opacity 1.5s, margin-top 1.5s;
                       }
#quizMain .feedback .btn { margin-top: 0px;}

span{ font-weight: 100;}

/* Results */

#quizMain .result{ position: absolute;top: 25%;left: 100%; width:100%}

#quizMain .active, #quizMain .inactive { transition: left 1.5s ease-in-out; }

#quizMain .active { left: 0px !important;}

#quizMain .intro.inactive, #quizMain .inactive.answered { left: -1350px;}


/* Test */
@media screen and (max-width: 650px) {
    body{ padding: 0px;margin: 0px;}



}