/*
--Colors--
	grey/green #5E7A77
	orange #D98906
	brown/orange #B86E0C
	grey #546964 background
	lighter orange #FFAD00
*/

*{
	padding: 0px;
	margin: 0px;
	font-family: Verdana, sans-serif;

}

*:focus{
  outline: none;
}

a{
    text-decoration: none;
    color: white;
}

section{

}

body{
	background-color: #546964;
    line-height: 140%;
}

header.mainHeader{
	width: auto;
	height: 55px;
	background-color: #FFAD00;
}

div.loginWindow{
	margin-top: 150px;
	text-align: center;
}

div.loginWindow h1{
	font-size: 36px;
	margin-bottom: 15px;
}

div.registerWindow h1{
    font-size: 36px;
    margin-bottom: 20px;
}

input.inputBox{
	padding: 3px;
	font-size: 115%;
	width: 225px;
	height: 40px;
	border-style: solid;
	border-color: black;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #495C57;
	color: white;
}

input.inputBox:focus{
	border-color: #FFAD00;
}

input.logRegButton{
	font-size: 115%;
	cursor: pointer;
	border-style:none;
	height: 45px;
	width: 140px;
	color: white;
	background-color: #FFAD00;
}

input.logRegButton:hover{
	background-color: #D98906;
}

div.registerWindow{
    text-align: center;
    margin-top: 20px;
}


input.registerBox{
    margin-bottom: 10px;
}

input.completRegistrationButton{
    margin-top: 15px;
    width: 200px;
    border-color: #FFAD00;
    border-style: solid;
    border-radius: 4px;

}

p.regBackButton{
    display: inline-block;
    padding: 10px;
    margin-left: 8px;
    margin-top: 8px;
    font-size: 22px;
    background-color: #FFAD00;
    border-color: #FFAD00;
    border-style: solid;
    border-radius: 4px;
    color: white;
}

p.errorText{
    color: white;
    margin-top: -5px;
    margin-bottom: 8px;
}
